body {
    margin: 0;
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .footer{
    color: #F9FAF8;
    display: flex;
    margin: 0;
    background-color: #1f2937;
}

.miniheader, .minifooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    padding-top: 16px;
}

.header{
    background-color: #1f2937;
    font-size: 24px ;
    padding: 5em;
    flex-direction: column; 
    padding-top: 0;
    padding-bottom: 2em;
    
}

.topleft {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    font-size: smaller;
    font-weight: bolder;
}

.topright {
    display: flex;
    justify-content: flex-end;
    padding-inline-end: 0;
    font-size: small;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding-inline: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bottomleft {
    font-size: 18px;
    color: #e5e7eb;
}

.bottomright {
    justify-content: flex-end;
    padding-left: 12em;
}

.title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
    padding-top: 2em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3em;
    text-align: center;
    border-radius: 3px;
    padding: 4em;
    padding-bottom: 6em;
}

img {
    width: 150px;
    height: 150px;
    border:4px solid #3882f6;
    border-radius: 15px;
}

.section3 {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
    text-align: center;
    padding: 4em;
}

.author {
    text-align: end;
    font-weight: bolder;
    font-size: 24px;
}

.section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: #3882f6;
    padding: 48px;
    margin: 64px;
    margin-inline: 200px;
    color: #F9FAF8;
    border-radius: 10px;
}

.smallheader{
    font-size: 18px;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    border:4px solid #e5e7eb;
    color: #e5e7eb;
    font-size: 5x;
    font-weight: bolder;
    padding: 8px;
    border-radius: 10px;
    padding-inline: 48px;
    margin: 16px;
    margin-left: 0;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin: 0;
}